.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}

::ng-deep .p-card .p-card-body{
    padding: 0.2rem !important;
}
