<section>

    <div class="form-login">
        <p-card header="Login">
            <form [formGroup]="login" (ngSubmit)="onSubmitLogin()">
                @if (login.invalid && (login.dirty || login.touched)) {
                    <p-message severity="error" icon="pi pi-times-circle">Validación fallida</p-message>
                }
                <div class="input-login">
                    <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user"></i>
                            </p-inputgroup-addon>
                            <p-floatLabel>
                                <label for="nombre">Nombre de usuario</label>
                                <input pInputText variant="filled" id="nombre" type="text" formControlName="nombre">
                            </p-floatLabel>
                            @if (login.invalid && (login.dirty || login.touched)) {
                                @if (login.hasError("required","nombre")) {
                                    <p-message severity="error" variant="simple" size="small">El usuario es obligatorio</p-message>
                                }
                            }
                    </p-inputgroup>        
                        
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            ***
                        </p-inputgroup-addon>
                        <p-floatLabel>
                            <label for="contrasena">Contraseña</label>
                            <input type="password" pInputText variant="filled" formControlName="contrasena">
                        </p-floatLabel>
                        @if (login.invalid && (login.dirty || login.touched)) {
                            @if (login.hasError("required","contrasena")) {
                                <p-message severity="error" variant="simple" size="small">La contraseña es obligatoria</p-message>
                            }
                            @if (login.hasError("minlength","contrasena")) {
                                <p-message severity="error" variant="simple" size="small">La contraseña debe tener al menos 7 caracteres</p-message>
                            }
                        }
                    </p-inputgroup>        
                        
                    
                    <button pButton type="submit">
                        <span pButtonLabel>Enviar</span>
                        <i class="pi pi-arrow-right"></i>
                    </button>
                </div>
            </form>
        </p-card>        
    </div>
</section>