.table-users{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}

.active-edit-user{
    display: block;
}