<section>
    <div class="svg">
        <app-background-logged></app-background-logged>
    </div>
    <div class="table-users">
        <p-card>
            <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Perfil</th>
                        <th>Opciones</th>
                    </tr>
                </ng-template>
                <ng-template #body let-user>
                    <tr>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.correoElectronico }}</td>
                        <td>{{ user.perfil }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</section>


