.info-user{

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Varela Round", serif;
        font-weight: 400;
        font-style: normal;
        height: 90vh;
}

::ng-deep .p-menubar{
        --p-menubar-padding: 0rem;
}

@media (min-width: 300px) and (max-width: 900px) {
        ::ng-deep .p-menubar{
            background: none;
        }
    }
