
<section>
    <div class="svg">
        <app-background-logged></app-background-logged>
    </div>
    <p-menubar>
        <button pButton size="small" (click)="cerrarSesion()">
            <i pButtonIcon class="pi pi-sign-out"></i>
            <span pButtonLabel>Salir</span>
        </button>
    </p-menubar>
    <div class="info-user">
    
        <p-card>
            <h1>Bienvenido {{this.user?.perfil}}</h1>
            <img src="../../invitado.jpg" style="max-width: 150px;max-height: 150px;">       
        </p-card>
    </div>
    
</section>

